# cache
chatbox/
api-for-open-llm/
pyvideotrans/
langflow/
IOPaint/
MinerU/
whishper/

# network
img2img-turbo/

# docker
api-for-open-llm/

# lunix
TTS/
xtts/

# api
chatgpt-subtitle-translator/
gpt-subtrans/

stable-diffusion-webui/
faster-whisper-webui/
text-generation-webui/
doctr/
streamlit-image-crop/
audiocraft/
lobe-chat/
Flowise/
VoiceStreamAI/
RapidVideOCR/
Draw2Img/
MeloTTS
Sakura-13B-Galgame/
OpenVoice/
